<link rel="stylesheet" href="/css/app.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">




<footer>
    <div class ="footer">
  
    <h3 class="getfit"> Get Fit </h3>
    <p class="hi"> Follow us on our social media! </p>
    <ul class="social">

        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-google"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
      
    </ul>
    
</div>
<div class = "footer-bottom">

    <p> copyright &copy;2022 GetFit <span></span></p>
</div>

</footer>
    
</body>
</html>