<%-include ("./partials/header.ejs") %> 
    <h1> Edit </h1>

    <h2> <%= Fit.name %> </h2>

<form action="/workouts/<%=Fit.id%>?_method=PUT" method="POST">
    
    <fieldset>
    Name: <input type="text" name="name" />
    <br>
    Type: <input type="text" name="type">
    <br>
    Image: <input type="text" name="image">
    <br>
   Description: <input type="text" name="description" />

</fieldset>
 
    <input type="submit" name= "" value="Edit">
  </form>
  
  
<br>
<br>
<br>
</body>
</html>
  <%-include ("./partials/footer.ejs") %> 