<%-include ("./partials/header.ejs") %> 
<body class ="edit">
    <h1 class ="editworkout"> Edit Workout </h1>

    <h2 class="editworkout"> <%= Fit.name %> </h2>

<form action="/workouts/<%=Fit.id%>?_method=PUT" method="POST">
    
    <div class ="formclass">
    Name: <input type="text" name="name" />
    <br>
    Type: <input type="text" name="type">
    <br>
   Description: <input type="text" name="description" />

    </div>
 
    <div class = "input">
    <input class = "submitbutton" type="submit" name= "" value="Edit">
</div>
    
  </form>
  
  
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</body>
</html>
  <%-include ("./partials/footer.ejs") %> 