<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
   <div class ="backgroundimg"> 
      <h1> Welcome To Get Fit</h1>
      <h3> 
        <form action="/workouts/" method="POST">
        <input type="submit" value="Lets Get Fit"/>
      </form>
      </h3>
   </div>

 

 
   <%-include ("./partials/footer.ejs") %> 