<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">

</head>
<body>
   <div class ="backgroundimg"> 
      <h1 class ="welcome"> Welcome To Get Fit</h1>
      <h3 class="letsgetfit"> 
        <form action="/workouts/" method="POST">
           
        <input class="submitbutton" type="submit" value="Lets Get Fit"/>
      
      </form>
      </h3>
   </div>

 

 
   <%-include ("./partials/footer.ejs") %> 