<%-include ("./partials/header.ejs") %> 

    <h1> Register Users </h1>   
<form action="/register" method="POST">
<fieldset>
<label for "username">Username:</label>
<input type="text" name="username">
</fieldset>
<fieldset>
    <label for="password">Password:</label>
    <input type="password" name="password">
</fieldset>
<input type="submit" value="Sign Up">

</form>


<a href="/users"> Log In</a>
</body>
</html>