<%-include ("./partials/header.ejs") %> 
    
    <h1> Login Users </h1>   
<form action="/users" method="POST">
<fieldset>
<label for "username">Username:</label>
<input type="text" name="username">
</fieldset>
<fieldset>
    <label for="password">Password:</label>
    <input type="password" name="password">
</fieldset>
<input type="submit" value="Log In">

</form>



</body>
 <a href="./register"> Register</a> 
</html>