*{
    margin: 0;
    padding: 0;
}


.backgroundimg {
    background-image: url('./background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
     height: 100vh;
color: white;
display: flex;
justify-content: center;
align-items: center;
flex-flow: column;
font-size: 2em;
}

h1{
    border: 10px;
    background-color: black;
   
}

.workout{
 background-image: url("./workout.jpg");
background-size: cover;
 background-repeat: no-repeat;
height: 100vh;
color: white;
display: flex;
justify-content: center;
align-items: center;
flex-flow: column;
font-size: 2em;


}

.showPage{
    background-image: url(./showpage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    font-size: 2em;
    list-style: none;
   
}

.showh1{
    border: 10px;
    border-radius: 10px;
    
}

.showul {
    list-style: none;
}

.fitname{
    border-left: 5px solid #3d2b70 ;
    padding-left: 5px;

}



.workoutChoice{
    display: block;
    height: 100px;
    background: linear-gradient(
        #050506,
        #3d2b70
    );
    margin: auto;
    place-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: beige;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 3px;
    border-radius: 5px;

}

footer {
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";

    color: #fff;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;

}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;

}

.social {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    
}

.social li {
    margin: 0 10px
}

.social a {
    text-decoration: none;
    color: #fff;
}

.social a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.social a:hover i {
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    opacity: .4;
    
}

.member {
    display: flex;
    justify-content: center;    
    flex-direction:row;
    
    
}



