*{
    margin: 0;
    padding: 0;
}


.backgroundimg {
    background-image: url('./background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
     height: 100vh;
color: white;
display: flex;
justify-content: center;
align-items: center;
flex-flow: column;
font-size: 2em;
}

.welcome{
    border: 10px;
    background-color: black;
    font-family: 'Aboreto', cursive;
   
}

.getfit{
    font-family: 'Aboreto', cursive;
}


.letsgetfit{
    font-family: 'Aboreto', cursive;
}


.workout{
 background-image: url("./workout.jpg");
background-size: cover;
 background-repeat: no-repeat;
height: 100vh;
color: white;
display: flex;
justify-content: center;
align-items: center;
flex-flow: column;
font-size: 1em;
justify-content: space-around;


}

.hover:hover{
    transform: scale(1.20);
    background: #3d2b70;
}

.choose {
    /* border: 10px;
    background-color: #050506 */
    box-sizing: border-box;
    background: black;
    border-radius: 10px;
    /* box-shadow: inset 0 0 15px; */
    font-family: 'Aboreto', cursive;


}

.formtext {
    font-family: 'Aboreto', cursive;;
}


.submitbutton {
    padding: .5em 1em;
    border-radius: 6px;
    background-color: #3d2b70;
    color: #fff;
    font-family: 'Aboreto', cursive;
    font-size: .7em;
    cursor: pointer;


}



.userback{
    background-image: url(./user.jpg);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-color:  #e4e0ee
}
.login{
    text-align: center;
    font-family: 'Aboreto', cursive;
}
.form{
    text-align:center;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
   
}

.register {
    display: flex;
    justify-content: center;
}

.editworkout{
    text-align: center;
    font-family:'Aboreto', cursive;
}

.formclass {
    text-align: center;
    font-family: 'Aboreto', cursive;
}

.input {
    text-align: center;
}


.edit {
    background-image: url(./edit.jpg);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
}
.showPage{
    background-image: url(./workoutbackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    font-size: 1em;
    list-style: none;
   
}

.fixup{
    display: flex;
    justify-content: center;
}





.from{
    text-align: center;
    color: whitesmoke;
}

.showh1{
    border: 10px;
    border-radius: 9px;
  background-color: #050506;
  font-family: 'Aboreto', cursive;
    
}

.showul {
    list-style: none;
    border: 10px;
}

.description {
    border: 10px;
font-size: 1em;
}

.benchpic{
    display: flex;
    justify-content: center;
    max-width: 450px;
    border-style: ridge;
    border-color: black;
    border-radius: 10px;
    margin-left: 412px;
}

.editpage{
    display: flex;
    justify-content: center;
    padding: .5em 1em;
    border-radius: 6px;
    color: #fff;
    font-family: 'Aboreto', cursive;
    font-size: .9em;
    cursor: pointer;

}

.deleteform{
    display: flex;
    justify-content: center;
}



.fitname{
    border-left: 5px solid #3d2b70 ;
    padding-left: 5px;
    font-family: 'Aboreto', cursive;
    text-align: center;

}



.workoutChoice{
    /* display: block; */
    height: 50px;
    background: linear-gradient(
        #050506,
        #3d2b70
    );
    margin: auto;
    place-items: center;
    font-family: 'Aboreto', cursive;
    color: beige;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 6px;
    border-radius: 5px;
    font-size: .8em;

}

footer {
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";

    color: #fff;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;

}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;

}

.social {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    
}

.social li {
    margin: 0 10px
}

.social a {
    text-decoration: none;
    color: #fff;
}

.social a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.social a:hover i {
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    opacity: .4;
    
}

.member {
    display: flex;
    justify-content: center;    
    flex-direction:row;
    
    
}


/* NAVIGATION */

.nav, .navbtn {
    font-family: 'Aboreto', cursive;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;

}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background: black;
}

.nav_links .nav {
display: inline-block;
padding: 0px 20px;

}

.nav_links .nav .navbtn{
    transition: all 0.3s ease 0s;

}


.nav_links .nav .navbtn:hover{
   color:  #3d2b70;

}

.type {
    text-align: center;
    border-radius: 10px;
    background-color: #000; 
    background-size:cover;
    letter-spacing: 6px;
    margin: auto;
    font-family: 'Aboreto', cursive;;
    
    

}